<nav class="main-nav">
  <%= link_to "Home", games_path, data: { turbo_frame: 'dashboard' } %>
  <h1>Nuzlocke.net</h1>
  <div class="login">
    <% if session[:user_id].nil? %>
        <%= button_to 'Log in with Twitch', '/auth/twitch', data: { 'turbo': false } %>
    <% else %>
      <p>
        <%= "Hello #{current_user.name}" %>
      </p>
      <%= button_to 'Log out', '/logout', method: :delete%>
    <% end %>
  </div>
</nav>
