<div class="modal-overlay" data-controller='modal', data-action='click->modal#maybeClose'>
  <%= turbo_frame_tag 'trainer-modal', class: 'modal', data: { action: "turbo:frame-load->modal#open turbo:frame-remove->modal#close" } %>
</div>

