<div class="game-card">
  <h2>
    <%= link_to game.title, game_path(game.id), data: { turbo_frame: 'dashboard' } %>
    <div class="active-attempts-count">
      <%= "#{game.active_attempts} active attempts" %>
    </div>
        <div class="completed_attempts_count">
        <%= "#{game.completed_attempts} completed attempts" %>
      </div>
      <div class="total-attempts-count">
        <%= "#{game.total_attempts} total attempts" %>
      </div>
  </h2>
</div>