<div class='game-index'>
  <% @games.each do |game| %>
    <div class="game-index__card">
      <h2>
        <%= link_to game.pretty_title, 
                    game_path(game.title), 
                    class: 'game-index_card-title' %>
      </h2>  
      <div class="game-index__card-info">
        <p>
          <%= "#{game.active_attempts} active attempts" %>
        </p>
        <p>
          <%= "#{game.completed_attempts} completed attempts" %>
        </p>
        <p>
          <%= "#{game.total_attempts} total attempts" %>
        </p>
      </div>
    </div>
  <% end %>
</div>