 <div class='game-dashboard'>
  <nav class='game-dashboard__nav'>
  <div>

  </div>
    <h2>
      <%= @game.pretty_title %>
    </h2>
    <div>
      <%= link_to 'Pokedex',
                  pokedex_path(@game),
                  data: { turbo_frame: 'pokedex-modal' } %>

    </div>
  </nav>
  <% if @content == 'box' %>
    <%= turbo_frame_tag 'game-dashboard-content', src: attempt_pokemon_index_path(attempt_id: @attempt.id) %>
  <% else %>
    <%=  turbo_frame_tag 'game-dashboard-content', src: game_areas_path_with_attempt(@game, @attempt), class: 'game-dashboard__content' %>
  <% end %>
</div>