.trainer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 2rem;
 

  &__team {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    overflow: auto;
    max-height: 800px;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 1rem;
    width: 150px;

    &-move {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  &__slot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  &__kill-slot {
    background-color: var(--bg-color-tertiary);
    border-radius: 2rem;
    border: 1px solid black;
    z-index: 999;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-img {
      height: 75px;
    }
  }
}