<li class="trainer-basic">
  <%= link_to trainer.name, 
              trainer_path(trainer, attempt_id: @attempt.id),
              data: {
                turbo_frame: 'trainer-modal'
              } %>
  <ul class="trainer-basic__team">
    <% trainer.trainer_pokemon.each do |tp| %>
      <li class="trainer-basic__pokemon">
        <%= image_tag tp.pokemon.icon_url %>
      </li>
    <% end %>
  </ul>
</li>

